body{
  color:#222;
  font-family:Arial, sans-serif;
}
main{
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}

header{
  display:flex;
  justify-content:space-between;
  margin-bottom: 50px;
}

header a{
  text-decoration:none;
  color:inherit;
  font-weight:bold;
}

header.a.logo{
  font-size:24px;
  font-weight:bold;
}

header nav{
  display:flex;
  gap:15px;
}